body{
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--violet);
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.logo{
    display: block;
    margin: 40px 60px;
}
.logo .image-logo{
    width: 180px;
}
.container{
    display: flex;
    margin: 0 60px;
}
.container .image{
    height: 450px;
}
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .container .image{
        margin-bottom: 40px;
    }
}
.container .info{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.container .info .title{
    text-transform: capitalize;
    margin-bottom: 25px;
}
.container .info .description{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
    line-height: 25px;
}
.container .info .btn{
    background-color: #fff;
    color: var(--violet);
    border-radius: 50px;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 8px;
}
.container .info .btn:hover{
    background-color: var(--soft-magenta);
    color: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
@media (max-width: 420px){
    .container .info{
        align-items: center;
        margin: 0;
    }
}
.social{
    width: 100%;
}
.social .icons{
    display: flex;
    justify-content: flex-end;
}
.social .icons a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 35px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}
.social .icons a i:hover{
    color: var(--soft-magenta);
    border: 1px solid var(--soft-magenta);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
@media (max-width: 768px){
    .social .icons{
        justify-content: center;
    }
}